body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url(../images/BSU_bg.jpg);
}

img#logo {
    height: 100px;
    width: 100px;
}

.logo_label {
    font-weight: bold;
    font-size: 40px;
}

.logo_sub_label {
    font-weight: bold;
    font-size: 20px;
}

#itemList {
    margin: 10px;
    width: 98%;
}

.nav-item button.nav-link {
    color: #585656;
}

.nav-item button.nav-link.active {
    color: #ff0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#bigPIC_container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #493c4e9a;
}

#bigPIC {
    width: 550px;
    height: auto;
}

.reserve-button {
    margin-top: 10px;
}